{% extends 'layout.twig' %}
{% block body %}
	{% set formUrl = definition ? url_for('definitions.edit', { 'id': definition.id }) : url_for('definitions.new') %}
	{% set pageHeading = definition ? 'Edit ' ~ definition.name : 'Create definition' %}

	<h2>{{ pageHeading }}</h2>
	<form action="{{ formUrl }} " method="post">
		<fieldset>
			<legend>Global Info</legend>
			<label for="name">Name</label>
			<input type="text" id="name" name="name" value="{{ definition.name }}" required>
		</fieldset>

		<fieldset>
			<span class="title-and-button">
				<legend>Fields</legend>
				<button class="button-outline"
						tabindex="-1"
						hx-get="{{ url_for('definitions.field.new') }}"
						hx-swap="beforeend"
						hx-target="#fields">
					Add field</button>
			</span>
			<div id="fields" x-data="{ fieldId: 0 }">
				{% for field in definition.fields %}
					{% include 'definitions/new.field.twig' with {field: field} %}
				{% endfor %}
			</div>
		</fieldset>

		<button type="submit">Submit</button>
		{% if definition %}
			<button hx-delete="{{ url_for('definitions.delete', { 'id': definition.id }) }}"
					hx-target="body"
					hx-push-url="true"
					hx-confirm="Are you sure you want to delete {{ definition.name }} ?">
				Delete</button>
		{% endif %}
	</form>

{% endblock %}
