<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}ReviewsDB{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body hx-boost="true">
    {% block navbar %}
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('reviewables') }}">Reviewable</a></li>
        </ul>
    </nav>
    {% endblock %}
    {% block flashes %}
        {% if flash is not empty %}
            {% for level, messages in flash %}
                {% for message in messages %}
                    <p>{{ level }}: {{ message }}</p>
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endblock %}
    {% block body %}{% endblock %}
</body>
</html>
