{% extends 'layout.twig' %}
{% block body %}
    {% set formUrl = reviewable ? url_for('reviewables.edit', { 'id': reviewable.id }) : url_for('reviewables.new') %}
    {% set pageHeading = reviewable ? 'Edit ' ~ reviewable.name : 'Create Reviewable' %}

    {{ pageHeading }}
	<form action="{{ formUrl }} " method="post">
		<fieldset>
			<legend>Global Info</legend>
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" value="{{ reviewable.name }}" required>
		</fieldset>

		<fieldset>
			<legend>Fields</legend>
			<button hx-get="/reviewables/new/field" hx-swap="beforeend" hx-target="#fields">Add field</button>
			<div id="fields" x-data="{ fieldId: 0 }">
				{% for field in reviewable.fields %}
					{% include 'reviewables.new.field.twig' with {field: field} %}
				{% endfor %}
			</div>
		</fieldset>

		<button type="submit">Submit</button>
        {% if reviewable %}
            <button hx-delete="{{ url_for('reviewables.delete', { 'id': reviewable.id }) }}"
                    hx-target="body"
                    hx-push-url="true"
                    hx-confirm="Are you sure you want to delete {{ reviewable.name }} ?">
                Delete</button>
        {% endif %}
	</form>

{% endblock %}
